<div *ngIf="juego" class="container bg-danger-subtle text-center p-2">
    <h2 class="text-center">{{ juego.name }}</h2>

    <div class="d-flex justify-content-center">
        <img [src]="juego.background_image" class="img-fluid rounded shadow w-25" alt="{{ juego.name }}" />
    </div>

    <div class="container text-center mt-3">
        <p>Rating: {{ juego.rating }} / 5</p>
        <p>Fecha de lanzamiento: {{ juego.released }}</p>

        <p *ngIf="juego.platforms?.length">Plataformas:</p>
        <ul *ngIf="juego.platforms?.length" class="list-unstyled">
            <li *ngFor="let p of juego.platforms">{{ p.platform.name }}</li>
        </ul>
    </div>
</div>

  